*::selection {
    background:transparent;
}

/**,*/
/**:active,*/
/**:hover*/
/**:link,*/
/**:visited {*/
  /*cursor: url(../img/cursor.png), none !important;*/
/*}*/

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}

.video-container {
  width: 1024px;
  display: block;
  overflow: hidden;
  height: 768px;
}
