/**
 * Background setup
 */
body {
  background: #000;
}

/**
 * Hide the cursor
 */
/**,*/
/**:active,*/
/**:hover*/
/**:link,*/
/**:visited {*/
  /*[>cursor: url(../img/cursor.png), none !important;<]*/
  /*cursor: none !important;*/
/*}*/

/**
 * Prevent drag selection
 */
*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}

/**
 * Our display is fixed to 1024x768, so set the slide size accordingly
 */
.slide {
  width: 1024px;
  height: 768px;
}

.interlude {
  font-size: 4em;
  color: #DDD;
  margin-top: 0;
}

.csstransitions.csstransforms .deck-container .slide {
    -webkit-transition: opacity 1000ms ease-in-out 0ms;
    transition: opacity 1000ms ease-in-out 0ms;
}

.next-timer,
.message {
    position: absolute;
    top: 400px;
    left: 265px;
    font-size: 80px;
    line-height: .8em;
    width: 500px;
}

